{{ form_start(form) }}
    {{ form_widget(form) }}
    {% for polls in poll %}
        <div class="form-group">
            <label for="exampleFormControlSelect">Choice</label>
            <select name="Choice" class="form-control" id="FormControlSelect">

            {% for options in polls.options %}
            {% set types = options |split(',') %}
            {% for type in types %}
                <option>{{ type }}</option>
            {% endfor %}
            {% endfor %}
            </select>
        </div>
    {% endfor %}
    <br>
    <button class="btn btn-primary btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
