{% extends 'base.html.twig' %}

{% block title %}{{ poll.name }}{% endblock %}

{% block body %}
    <body style="background-color: #EEEEEE">
    <div class="container-fluid" style="padding: 50px;">
        <div class="row">

            <div class="col-lg-10"  style="margin: 0 auto; padding: 25px; background-color: white; border-radius: 5px;">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{{ poll.Image }}" style="width: 100%;">
                    </div>
                    <div class="col-lg-6" style="text-align: center">
                        <h1>{{ poll.name }}</h1>
                        <h5 id="end" style="color:#4e5359;">{{ poll.enddate|date("m/d/Y") }}</h5>
                        <br>
                        <br>
                        <hr>
                        <h5 id="Timer" class="text-lg-center"></h5>
                        <hr>
                        <br>
                        <a name="" id="" class="btn btn-primary" href="{{ path('poll_show', {'id': poll.id}) }}" role="button">View Results</a>
                    </div>
                </div>
                <br>

                <div class="card bg-light p-3">
                    <p class="mb-0">So far there has been <strong> {{ count }}</strong> votes.</p>
                </div>

                <br>

                <h5>Description</h5>
                <p>{{ poll.description }}</p>

                <br>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ include('vote/_form.html.twig') }}
                {% else %}
                    <div class="alert alert-warning" role="alert">
                       You can't vote if your not logged in!  <a href="{{url('app_login')}}" class="alert-link">Login now</a> or <a href="{{url('app_register')}}" class="alert-link">Sign up</a>
                    </div>
                {% endif %}



                <br>
            </div>
        </div>
    </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/Javascript/Countdown.js"></script>
{% endblock %}
