{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Firstname) }}
        {{ form_row(registrationForm.Lastname) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.Password) }}
        {{ form_row(registrationForm.Age) }}
        {{ form_row(registrationForm.StudentNumber) }}
        {{ form_row(registrationForm.Email) }}
        {{ form_row(registrationForm.Telephone) }}
        {{ form_row(registrationForm.Addressline) }}
        {{ form_row(registrationForm.Addresslineone) }}
        {{ form_row(registrationForm.City) }}
        {{ form_row(registrationForm.County) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
