{% extends 'base.html.twig' %}

{% block title %}Poll index{% endblock %}

{% block body %}
    <style>
        #TabMobile{
            display:none;
        }
        #Filter{
            background-color: white;
            border-radius: 10px;
            padding:25px;
            padding:25px;
        }
        @media only screen and (max-width: 990px) {
            #TabMobile {
                display: block;
            }
            #Laptop{
                display: none;
            }
            #Filter{
                margin-bottom: 20px;
            }
        }
    </style>
<body style="background-color: #EEEEEE">
<div class="container-fluid" style="padding: 50px;">
    <div class="row" style="">

            <div class="col-12 col-lg-10" style="background-color: white; border-radius: 10px; padding:25px; margin: 0 auto;">
                <div class="shadow-sm p-3 mb-5 bg-light rounded">
                   Student Polls
                </div>

                {% for poll in polls %}

                    <div id="Laptop" style="">
                    <div class="card-group" style="height: 250px; overflow: hidden;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{ poll.Name }} {% if "now"|date('Y-m-d') > poll.Enddate|date('Y-m-d') %}
                                        <span class="badge badge-danger">Finished</span>
                                    {% endif %}</h4>
                                <p class="card-text" style="height: 100px; overflow: hidden">{{ poll.Description }}</p>
                                <a name="" id="" class="btn btn-outline-primary btn-block" href="{{ path('poll_show', {'id': poll.id}) }}" role="button">View Poll</a>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img" src="{{ poll.Image|first }}" alt="Card image" style="height:100%; white-space: nowrap">
                        </div>
                    </div>
                    </div>


                    <div id="TabMobile" style="">
                        <center>
                        <a href="" style="text-decoration: none; ">
                        <div class="card" style="height: 200px; width: 80%; background-color: black">
                            <img class="card-img" src="{{ poll.Image|first }}" alt="Card image"  style="height: 200px; object-fit: cover; opacity: 0.5;">
                            <div class="card-img-overlay" style="color: white; position: absolute">
                                <h3 class="card-header">{{ poll.Name }}</h3>
                                {% if "now"|date('Y-m-d') > poll.Enddate|date('Y-m-d') %}
                                    <span class="badge badge-danger">Finished</span>
                                {% endif %}
                                <br><br>
                                <p class="card-text" style="bottom: 0;">{{ poll.Description }}</p>
                            </div>
                        </div></a>
                        </center>
                    </div>

                    <br>
                {% endfor %}
            </div>
        </div>
    </div>

    {#<h1>Poll index</h1>#}

    {#<table class="table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Name</th>#}
                {#<th>Image</th>#}
                {#<th>Options</th>#}
                {#<th>Description</th>#}
                {#<th>Enddate</th>#}
                {#<th>actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for poll in polls %}#}
            {#<tr>#}
                {#<td>{{ poll.id }}</td>#}
                {#<td>{{ poll.Name }}</td>#}
                {#<td>{{ poll.Image }}</td>#}
                {#<td>{{ poll.Options ? poll.Options|json_encode : '' }}</td>#}
                {#<td>{{ poll.Description }}</td>#}
                {#<td>{{ poll.enddate ? poll.enddate|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>#}
                    {#<a href="{{ path('poll_show', {'id': poll.id}) }}">show</a>#}
                    {#<a href="{{ path('poll_edit', {'id': poll.id}) }}">edit</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="7">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('poll_new') }}">Create new</a>#}
</body>
{% endblock %}
