{% extends 'base.html.twig' %}

{% block title %}{{ poll.Name }}{% endblock %}

{% block body %}
<body style="background-color: #EEEEEE">
<div class="container-fluid" style="padding: 50px;">
    <div class="row">
        <div class="col-lg-10"  style="margin: 0 auto;  padding:25px; background-color: white; border-radius: 5px;">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ poll.Image }}" style="width: 100%;">
                </div>
                <div class="col-lg-6" style="text-align: center">
                    <h1>{{ poll.name }}</h1>
                    <h5 id="end" style="color:#4e5359;">{{ poll.enddate|date("m/d/Y") }}</h5>
                    <br>
                    <br>
                    <hr>
                    <h5 id="Timer" class="text-lg-center"></h5>
                    <hr>
                    <br>
                    <a name="" id="" class="btn btn-primary" href="{{ path('poll_vote', {'id': poll.id}) }}" role="button">Vote now</a>
                </div>
            </div>
            <br>

            <div class="card bg-light p-3">
                <p class="mb-0">So far there has been <strong> {{ count }}</strong> votes.</p>
            </div>

            <br>

            {% for message in app.flashes('notice') %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Congratulations!</h4>
                    <p>{{ message }} {{ poll.name }}.</p>
                    <hr>
                    <p class="mb-0">Thank you for voting and making a difference.</p>
                </div>
            {% endfor %}

            <h5>Description</h5>
            <p>{{ poll.description }}</p>

            <br>

            {% if count == 0 %}
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">{{ poll.name }}</h4>
                    {{ poll.name }} currently has no votes be the first one to vote.
                    <a href="{{ path('poll_vote', {'id': poll.id}) }}" class="alert-link">Vote now</a>
                </div>
            {% else %}
            <div class="row">
                <div class="col-lg-6" style="padding: 50px;">
                <canvas id="myChart" width="100%" height="100%"></canvas>
                </div>
                <div class="col-lg-6" style="padding: 50px;">
                    <div style="position: relative; top: 50%; transform: translateY(-50%);">

                    {% for type, items in display %}

                        {% for key, value in items %}
                            {% if value matches '/^\\d+$/' %}
                            {% else %}
                            <h6>{{ value }}</h6>
                            {% endif %}
                            {% if value matches '/^\\d+$/' %}
                                <div class="progress" style="height: 30px;">
                                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%">{{ value }}%</div>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    </div>
                </div>
            </div>

            {% endif %}

            {% if comments_count == 0 %}
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">{{ poll.name }}</h4>
                There is currently no comments &#x1F644;. Be the first one to comment &#x1F600;
            </div>
            {% endif %}

            <div class="row">
                <div class="col-lg-10" style="margin: 0 auto;">

                    {% if comments_count == 0 %}
                    {% else %}
                    <h5>Comments</h5>
                    <hr>
                    {% for comment in comments %}
                    <div class="card">
                        <div class="card-header">
                            {% if comment.User.image is null %}
                                <img width="35" height="35"  avatar="{{ comment.User.firstname }} {{ comment.User.lastname }}" style="border-radius: 50%; margin: 2.5px;">
                            {% else %}
                                <img width="50" height="50"  src="{{ comment.User.image }}" style="border-radius: 50%; margin: 2.5px;">
                            {% endif %}
                            <strong>{{ comment.User.username }}</strong>

                            <p style="float: right;  margin-top: 5px;">{{ comment.time|date("m/d/Y H:i:s") }}</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text" style="margin-left: 40px;">{{ comment.comment }}</p>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                        <hr>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ include('comments/_form.html.twig') }}
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            You can't comment if your not logged in!  <a href="{{url('app_login')}}" class="alert-link">Login now</a> or <a href="{{url('app_register')}}" class="alert-link">Sign up</a>
                        </div>
                    {% endif %}


                </div>
            </div>

        </div>
    </div>
</div>
</body>

<script src="/Javascript/Profilename.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/Javascript/PollResults.js"></script>
<script>f({{ ans|json_encode|raw }} , {{ label|json_encode|raw }});</script>
<script src="/Javascript/Countdown.js"></script>
{% endblock %}
