{% extends 'base.html.twig' %}

{% block title %}{{ poll.Name }}{% endblock %}

{% block body %}
<body style="background-color: #EEEEEE">
<div class="container-fluid" style="padding: 50px;">
    <div class="row">
        <div class="col-12 col-md-10"  style="margin: 0 auto;  padding:25px; background-color: white; border-radius: 5px;">
            <div class="row">
                <div class="col-lg-6" style="padding-bottom:20px;">
                    <div id="carouselFadeExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner" role="listbox"  style="background-color: #343A40;">
                            {% for image in poll.Image %}
                                <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                                    <img class="d-block w-100" alt="{{ image }}" src="{{ image }}" style="height:400px; object-fit: scale-down;"/>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselFadeExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselFadeExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6" style="text-align: center">
                    <h1>{{ poll.name }}</h1>
                    <h5 id="end" style="color:#4e5359;">{{ poll.enddate|date("m/d/Y") }}</h5>
                    <br>
                    <br>
                    {% if expired == 0 %}
                    <hr>
                    <h5 id="Timer" class="text-lg-center"></h5>
                    <hr>
                    <br>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a name="" id="" class="btn btn-primary" href="{{ path('poll_vote', {'id': poll.id}) }}" role="button">Vote now</a>
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                You can't vote if your not logged in!  <a href="{{url('app_login')}}" class="alert-link">Login now</a> or <a href="{{url('app_register')}}" class="alert-link">Sign up</a>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if expired == 1 %}
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Thank You!</h4>
                            <p>{{ poll.name }} is now finished.</p>
                            <hr>
                            <p class="mb-0">Thank you for voting and making a difference.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <br>


            {% if expired == 0 %}
                <div class="card bg-light p-3">
                <p class="mb-0">So far there has been <strong> {{ count }}</strong> votes.</p>
                </div>
            {% endif %}
            {% if expired == 1 %}
                <div class="card bg-light p-3">
                    <p class="mb-0">The final number of votes where <strong> {{ count }}</strong> votes.</p>
                </div>
            {% endif %}

            <br>

            {% for message in app.flashes('notice') %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Congratulations!</h4>
                    <p>{{ message }} {{ poll.name }}.</p>
                    <hr>
                    <p class="mb-0">Thank you for voting and making a difference.</p>
                </div>
            {% endfor %}

            <h5>Description</h5>
            <p>{{ poll.description }}</p>

            <br>

            <h5>Options</h5>
            {% for options in poll.Options %}
                <ul class="list-group">
                    <li class="list-group-item">{{ loop.index }}.   {{ options }}</li>
                </ul>
            {% endfor %}
            <br>

            {% if expired == 1 %}
            {% else %}
            {% if count == 0 %}
            <div class="row">
                <div class="col-lg-10"  style="margin: 0 auto;">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">{{ poll.name }}</h4>
                    {{ poll.name }} currently has no votes be the first one to vote.
                    <a href="{{ path('poll_vote', {'id': poll.id}) }}" class="alert-link">Vote now</a>
                </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-6" style="padding: 50px;">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a class="nav-link active" href="#tab1default" data-toggle="tab">Pie Chart</a></li>
                                <li><a class="nav-link" href="#tab2default" data-toggle="tab">Bar Chart</a></li>
                                <li><a class="nav-link" href="#tab3default" data-toggle="tab">Line Chart</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1default">
                                    <canvas id="myChart" width="100%" height="100%"></canvas>
                                </div>
                                <div class="tab-pane" id="tab2default">
                                    <canvas id="myBarChart" width="100%" height="100%"></canvas>
                                </div>
                                <div class="tab-pane" id="tab3default">
                                    <canvas id="myLineChart" width="100%" height="100%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding: 50px;">
                    <div style="position: relative; top: 50%; transform: translateY(-50%);">
                    {% for type, items in display %}

                        {% for key, value in items %}
                            {% if value matches '/^\\d+$/' %}
                            {% else %}
                            <h6>{{ value }}</h6>
                            {% endif %}
                            {% if value matches '/^\\d+$/' %}
                                <div class="progress" style="height: 30px;">
                                    <div {% if value >= 50 %}class="progress-bar progress-bar-striped bg-success"{% else %}class="progress-bar bg-secondary"{% endif %} role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%">{{ value }}%</div>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    </div>
                </div>
            </div>

            {% endif %}
            {% endif %}



            <div class="row">
                <div class="col-lg-10" style="margin: 0 auto;">
                    {% for comment in comments %}
                    {% if comment.comment == "" %}
                    {% set comments_count = comments_count-1 %}
                    {% endif %}
                    {% endfor %}
                    <h5>Comments <span class="badge badge-info">{{ comments_count }}</span></h5>
                    <hr>
                    {% for comment in comments %}
                        {% if comment.comment == "" %}
                        {% else %}
                    <div class="card">
                        <div class="card-header">
                            {% if comment.User.image is null %}
                                <img width="35" height="35"  avatar="{{ comment.User.firstname }} {{ comment.User.lastname }}" style="border-radius: 50%; margin: 2.5px;">
                            {% else %}
                                <img width="50" height="50"  src="{{ comment.User.image }}" style="border-radius: 50%; margin: 2.5px;">
                            {% endif %}
                            <strong>{{ comment.User.username }}</strong>

                            <p style="float: right;  margin-top: 5px;">{{ comment.time|date("m/d/Y") }}</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text" style="margin-left: 40px;">{{ comment.comment }}</p>
                        </div>
                    </div>
                    <br>
                        {% endif %}
                    {% endfor %}
                    {% if comments_count == 0 %}
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">{{ poll.name }}</h4>
                            There is currently no comments &#x1F644;. Be the first one to comment &#x1F600;
                        </div>
                    {% endif %}
                    {% if comments_count == 0 %}
                    {% else %}
                        <hr>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ include('comments/_form.html.twig') }}
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            You can't comment if your not logged in!  <a href="{{url('app_login')}}" class="alert-link">Login now</a> or <a href="{{url('app_register')}}" class="alert-link">Sign up</a>
                        </div>
                    {% endif %}


                </div>
            </div>

        </div>
    </div>
</div>
</body>

<script src="/Javascript/Profilename.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/Javascript/PollResults.js"></script>
<script>f({{ ans|json_encode|raw }} , {{ label|json_encode|raw }});</script>
<script>L({{ daysBetween|json_encode|raw }} , {{ votesOvertime|json_encode|raw }} , {{ answers }} , {{ Numberofdays }} , {{ label|json_encode|raw }} );</script>
<script src="/Javascript/Countdown.js"></script>
{% endblock %}
