{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid" style="background-image: url('Images/Default/Jumbo_admin.png'); background-size: cover; color:white;">
        <div class="container">
            <h1 class="display-3">Admin Panel</h1>
            <p class="lead">{{ app.user.Firstname }} {{ app.user.Lastname }}</p>
            <p class="lead">
                <a class="btn btn-primary " href="{{ path('user_index') }}" role="button">User panel</a>
                <a class="btn btn-primary " href="Jumbo action link" role="button">Poll panel</a>
            </p>
        </div>
    </div>

    <div style="height: 5vh;"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.Firstname }}</td>
                        <td>{{ user.Lastname }}</td>
                        <td>

                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Show</a>
                                <a role="button" class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
                                {{ include('user/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

{% endblock %}
