{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div id="jumbo" class="jumbotron jumbotron-fluid" style="height:100vh; overflow: hidden;">
        <div class="container-fluid">
                <div class="row" style="margin-top: -65px;">
                    <div class="col-md-7" style="height:100vh; background-image: url('Images/Default/Jumbo_index.png'); background-size: cover;">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-10 text-center" style="padding: 20px;">
                                <br><br><br><br>
                                <img src="Images/Default/TUD_WHITE.png" class="img-fluid rounded-top" alt="" style="height:125px;">
                                <br> <br> <br>
                                <h2 class="text-center" style="color:white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
                                <br> <br>
                                <a name="" id="" class="btn btn-primary btn-lg"" href="#" role="button">Start Voting</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 text-center" style="height:100vh; background-image: url('Images/Default/Jumbo_index_white.png'); background-size: cover;">

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div style="height: 17vh;"></div>
                            <img width="150" height="150"  avatar="{{ app.user.firstname }} {{ app.user.lastname }}" style="border-radius: 50%; margin:50px;">
                            <h1>Welcome back</h1>
                            <h1><strong>{{ app.user.username }}</strong></h1>
                        {% else %}
                            <div style="height: 40vh;"></div>
                            <blockquote class="blockquote">
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>

    <div class="container">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ending Soon</li>
        </ol>

        <div class="row">
            {% for poll in polls %}
            <div class="col-md-3">
                <a href="{{ path('poll_show', {'id': poll.id}) }}" style="text-decoration: none; color: black;">
                <div class="card">
                    <div class="card-header">
                        {{ poll.Name }}
                    </div>
                    <img class="card-img-top" src="{{ poll.Image }}"  style="height: 150px;" alt="Card image cap">
                    <div class="card-body"> <p id="timer4" class="timer">{{ poll.enddate|date('d/m/Y') }}</div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


    <script>
    </script>
    <script>
        function date(date2) {

            var date = new Date();

            var diff = Math.abs(date.getTime() - date2.getTime()) / 3600000;

            console.log()
        }

    </script>
{% endblock %}
