{% extends 'base.html.twig' %}

{% block title %}TUD POLLING{% endblock %}

{% block body %}
    <div id="jumbo" class="jumbotron jumbotron-fluid" style="height:100vh; overflow: hidden;">
        <div class="container-fluid">
                <div class="row" style="margin-top: -65px;">
                    <div class="col-md-7" style="height:100vh; background-image: url('Images/Default/Jumbo_index.png'); background-size: cover;">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-10 text-center" style="padding: 20px;">
                                <br><br><br><br>
                                <div  class="animated zoomIn delay-1s" >
                                <img src="Images/Default/TUD_WHITE.png"alt="" style="height:125px;">
                                <br> <br> <br>
                                <h2 class="text-center" style="color:white;">A student polling website</h2>
                                <br>
                                <h3 class="text-center" style="color:white;">A voice for students</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 text-center" style="height:100vh; background-image: url('Images/Default/Jumbo_index_white.png'); background-size: cover;">

                        <div  class="animated zoomIn delay-2s" >
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div style="height: 17vh;"></div>
                            {% if app.user.image is null %}
                            <img width="150" height="150"  avatar="{{ app.user.firstname }} {{ app.user.lastname }}" style="border-radius: 50%; margin:50px;">
                            {% else %}
                            <img width="150" height="150"  src="{{ app.user.image }}" style="border-radius: 50%; margin:50px;">
                            {% endif %}
                            <h1>Welcome back</h1>
                            <h1><strong>{{ app.user.username }}</strong></h1>
                        {% else %}
                            <div style="height: 40vh;"></div>
                            <blockquote class="blockquote">
                                <p class="mb-0">Somewhere inside of all of us is the power to change the world.</p>
                                <footer class="blockquote-footer"> <cite title="Source Title">Roald Dahl</cite></footer>
                            </blockquote>
                        {% endif %}
                          </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="container">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ending Soon</li>
        </ol>

        <div class="row">
            {% for poll in polls %}
                <div class="col-md-3" style="padding-bottom: 10px;">
                    <a href="{{ path('poll_show', {'id': poll.id}) }}" style="white-space:nowrap; text-decoration: none; color: black;">
                        <div class="card" style="overflow: hidden;">
                            <div class="card-header">
                                {{ poll.Name }}
                            </div>
                            <img class="card-img-top" src="{{ poll.Image|first }}"  style="height: 150px;  object-fit:cover;" alt="Card image cap">
                            <div class="card-body"> <p id="timer4" class="timer">{{ poll.enddate|date('d/m/Y') }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <br>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">Recently Finished</li>
        </ol>

        <div class="row">
            {% for endpoll in endpolls %}
                <div class="col-md-3" style="padding-bottom: 10px;">
                    <a href="{{ path('poll_show', {'id': endpoll.id}) }}" style="white-space:nowrap; text-decoration: none; color: black;">
                        <div class="card" style="overflow: hidden;">
                            <div class="card-header">
                                {{ endpoll.Name }}
                            </div>
                            <img class="card-img-top" src="{{ endpoll.Image|first }}"  style="height: 150px;  object-fit:cover;" alt="Card image cap">
                            <div class="card-body"> <p id="timer4" class="timer">{{ endpoll.enddate|date('d/m/Y') }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <br><br>

    <div id="jumbo" class="jumbotron jumbotron-fluid" style="height:75vh; overflow: hidden;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12" style="height: 100vh; background-image: url('Images/Default/JumboSvg.svg'); background-repeat: no-repeat; background-size: cover; margin-top: -62px">
                    <center>
                    <br>
                    <br>
                    <img src="Images/Default/TUD_WHITE.png" class="img-fluid rounded-top" alt="" style="height:125px;">
                    <br><br><br>
                    <h5 class="font-weight-lighter" style="color: white">Polls can be created on the Technological University Dublin only by users.<br>If there proposed poll gets enough support / up votes from other users.<br> Shortly after an admin will confirm the poll and make it active.</h5>
                    <br><br>
                        <a name="" id="" class="btn btn-dark" href="{{url('proposed_poll_index')}}" role="button">Support proposed polls</a>
                    </center>
                </div>
            </div>
        </div>
    </div>


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container-fluid" style="background-color: #EEEEEE; margin-top:-35px;">
        <div class="row" style="padding-top: 40px;">
            <div class="col-lg-6">
                <center>
                <img src="Images/Default/TUD_LOGO.png"  style="height:125px;">
                </center>
                <br>
                <h4 class="font-weight-lighter text-center" >Create a proposed poll</h4> <br> <hr>
                <p class="text-center">Create a proposed poll and if the poll reaches 50 supports <br> from other members the poll will receive and end date and <br> be
                    made active by an admin.</p> <hr>
            </div>
            <div class="col-lg-5">
                {{ include('proposed_poll/_form.html.twig') }}
            </div>
            <div class="col-lg-1">
            </div>
        </div>
        <hr>
    </div>
    {% endif %}


    <div class="container">
        <br><br>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Proposed Polls</li>
        </ol>

        <div class="row">
            {% for proposed_poll in proposed_polls %}
                <div class="col-md-3" style="padding-bottom: 10px;">
                    <a href="{{ path('proposed_poll_show', {'id': proposed_poll.id}) }}" style="white-space:nowrap; text-decoration: none; color: black;">
                        <div class="card" style="overflow: hidden;">
                            <div class="card-header">
                                {{ proposed_poll.Name }}
                            </div>
                            <img class="card-img-top" src="{{ proposed_poll.Image|first }}"  style="height: 150px;  object-fit:cover;" alt="Card image cap">
                            <div class="card-body">{{ proposed_poll.Support }} Supporters </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>



    <script>
    </script>
    <script>
        function date(date2) {

            var date = new Date();

            var diff = Math.abs(date.getTime() - date2.getTime()) / 3600000;

            console.log()
        }

    </script>
{% endblock %}
