{% extends 'base.html.twig' %}

{% block title %}Sitemap{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid" style="background-image: url('../Images/Default/Jumbo_admin.png'); background-size: cover; color:white;">
        <div class="container">
            <br>
            <br>
            <h1 class="display-3">Sitemap</h1>
            <br>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Public Pages:</h3>
                <ul>
                    <li><a href="{{url('default_index')}}"><strong>Home</strong></a></li>
                    <li><a href="{{url('default_about')}}"><strong>About</strong></a></li>
                    <li><a href="{{url('default_sitemap')}}"><strong>Sitemap</strong></a></li>
                    <li><a href="{{url('proposed_poll_index')}}"><strong>Proposed Polls</strong></a></li>
                    <ul><li>Show</li></ul>
                    <li><a href="{{url('poll_index')}}"><strong>Polls</strong></a></li>
                    <ul><li>Show</li></ul>
                    <li><a href="{{url('app_login')}}"><strong>Login</strong></a></li>
                    <li><a href="{{url('app_register')}}"><strong>Register</strong></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
