{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid" style="background-image: url('../../Images/Default/Jumbo_admin.png'); background-size: cover; color:white;">
        <div class="container">
            <h1 class="display-3">Admin Panel - User Index</h1>
            <p class="lead">{{ app.user.Firstname }} {{ app.user.Lastname }}</p>
            <p class="lead">
                <a class="btn btn-primary" href="{{ path('user_new') }}" role="button" style="padding-right: 20px;">Create new user</a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <h2>Search Users</h2>
                <div class="input-group mb-3" style="">
                    <input type="text" class="form-control" id="Search" placeholder="Search by username" onkeyup="Search()" aria-label="" aria-describedby="basic-addon1">
                </div>
                <div style="overflow:scroll; height: 450px;">
                <table class="table" id="user_table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Roles</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>StudentNumber</th>
                        <th>Datecreated</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>{{ user.Firstname }}</td>
                            <td>{{ user.Lastname }}</td>
                            <td>{{ user.StudentNumber }}</td>
                            <td id="dateCreated">{{ user.Datecreated ? user.Datecreated|date('Y-m-d') : '' }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a role="button" class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Show</a>
                                    <a role="button" class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
                                    {{ include('user/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="16">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-6">
                <h4>Users Created in last 7 days</h4>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../Javascript/Last7days.js"></script>
    <script>
        function Search() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("Search");
            filter = input.value.toUpperCase();
            table = document.getElementById("user_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>f({{ dates|json_encode|raw }});</script>

{% endblock %}
