{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<body style="background-color: #EEEEEE">
<div class="container-fluid" style="padding: 50px;">
    <div class="row">
        <div class="col-lg-6"  style="margin: 0 auto;  padding:25px; background-color: white; border-radius: 5px;">

            <img width="50" height="50"  avatar="{{ user.firstname }} {{ user.lastname }}" style="border-radius: 50%; float: left;">
            <h1>&nbsp; {{ user.username }}</h1>

            <div style="float: right; margin-top: -45px;">

                {{ include('user/_delete_form.html.twig') }}

            </div>
            <br>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ user.Firstname }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ user.Lastname }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ user.Age }}</td>
                    </tr>
                    <tr>
                        <th>StudentNumber</th>
                        <td>{{ user.StudentNumber }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.Email }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ user.Telephone }}</td>
                    </tr>
                    <tr>
                        <th>Addressline</th>
                        <td>{{ user.Addressline }}</td>
                    </tr>
                    <tr>
                        <th>Addresslineone</th>
                        <td>{{ user.Addresslineone }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ user.City }}</td>
                    </tr>
                    <tr>
                        <th>County</th>
                        <td>{{ user.County }}</td>
                    </tr>
                    <tr>
                        <th>Datecreated</th>
                        <td>{{ user.Datecreated ? user.Datecreated|date('Y-m-d') : '' }}</td>
                    </tr>
                </tbody>
            </table>

            <a name="" id="" class="btn btn-primary btn-block" href="{{ path('user_edit', {'id': user.id}) }}" role="button">edit</a>
            <br>
            <a name="" id="" class="btn btn-primary btn-block" href="{{ path('user_index') }}" role="button">back to list</a>
        </div>
    </div>
</div>
</body>
<script src="/Javascript/Profilename.js"></script>
{% endblock %}
